include requirements.txt
include license.txt
include README.md
include hooks.py
include patches.txt
recursive-include sms_relay *.py
recursive-include sms_relay *.json
recursive-include sms_relay *.js
recursive-include sms_relay *.css
recursive-include sms_relay *.html
